@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.mynav {
  position: absolute;
  height: 80px;
  width: 100vw;
  background: rgba(24, 23, 23, 0.356);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.mynav h1 {
  font-family: "Caveat", cursive;
}

.mynav .nav-itm {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mynav .nav-itm a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  padding: 5px 10px;
  height: 30px;
  color: white;
  text-decoration: none;
}

.mynav .nav-itm a:nth-child(2) {
  background: white;
  color: black;
  border-radius: 25px;
}

.mySec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 800px;
  width: 100vw;
  background: url("imgs/head-img.svg") no-repeat;
  background-size: cover;
  padding: 0 10px;
  overflow-x: hidden;
}

.mySec1 .head {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mySec1 .head .head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mySec1 .head .head-left h1 {
  min-height: 120px;
  font-size: 50px;
}

.mySec1 .head .head-left p {
  color: #1b1b1b;
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: white;
  padding-left: 10px;
}

.mySec1 .head .head-left img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

.mySec1 .head .head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mySec1 .head .head-right img {
  width: 550px;
}

.mySec2 {
  min-height: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f4f4f4;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
}

.mySec2 h1 {
  font-family: "Caveat", cursive;
}

.mySec2 hr {
  width: 250px;
  margin: auto;
  background: #6b6b6b;
  margin-bottom: 30px;
}

.mySec2 .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mySec2 .filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #444444;
  border-radius: 50px;
  font-family: "Caveat", cursive;
  margin: 0 8px;
  width: 80px;
  padding: 5px 15px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  margin-top: 5px;
  cursor: pointer;
}

.mySec2 .filter div:hover {
  background: #2579bd;
  border: white;
  color: white;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.mySec2 .projs {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  margin: auto;
}

.mySec2 .projs .project1,
.mySec2 .projs .project2,
.mySec2 .projs .project3,
.mySec2 .projs .project4,
.mySec2 .projs .project5,
.mySec2 .projs .project6 {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -30px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.mySec2 .projs .project1 .holder,
.mySec2 .projs .project2 .holder,
.mySec2 .projs .project3 .holder,
.mySec2 .projs .project4 .holder,
.mySec2 .projs .project5 .holder,
.mySec2 .projs .project6 .holder {
  height: 250px;
}

.mySec2 .projs .project1 img,
.mySec2 .projs .project2 img,
.mySec2 .projs .project3 img,
.mySec2 .projs .project4 img,
.mySec2 .projs .project5 img,
.mySec2 .projs .project6 img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySec2 .projs .project1 div,
.mySec2 .projs .project2 div,
.mySec2 .projs .project3 div,
.mySec2 .projs .project4 div,
.mySec2 .projs .project5 div,
.mySec2 .projs .project6 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 100%;
  height: 80px;
  text-align: center;
}

.mySec3 {
  background: url("./imgs/sec2bg.svg") no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.mySec3 h1 {
  font-family: "Caveat", cursive;
}

.mySec3 hr {
  width: 200px;
  background: #6b6b6b;
  margin-bottom: 30px;
}

.mySec3 .mobile-res,
.mySec3 .web-res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  min-height: 550px;
  background: white;
  border-radius: 10px;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -30px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}

.mySec3 .mobile-res p,
.mySec3 .web-res p {
  color: #535353;
}

.mySec3 .mobile-res a,
.mySec3 .web-res a {
  text-decoration: none;
}

.mySec3 .mobile-res img,
.mySec3 .web-res img {
  margin-top: 50px;
  width: 80px;
  opacity: 0.8;
}

.mySec3 .mobile-res {
  background-image: url("./imgs/Frame1.svg");
}

.mySec3 .web-res {
  background-image: url("./imgs/Frame3.svg");
}

.myFooter {
  background: #4e4e4e;
  color: #e7e3e3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 130px;
  padding: 20px;
}

.myFooter p {
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

.myFooter img {
  width: 40px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .head {
    margin-top: 150px;
  }
  .head .head-left {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .head .head-right img {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 776px) {
  .mynav h1 {
    display: none;
  }
  .head {
    margin-top: 50px;
  }
  .head .head-left {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

@media only screen and (max-width: 576px) {
  .mynav .nav-itm {
    width: 100px;
  }
  .head {
    margin-top: 50px;
  }
  .head .head-left div {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .head .head-left div img {
    display: none;
  }
  .head .head-right img {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .mySec2 .filter {
    display: none;
  }
  .mySec1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .mySec1 .head {
    margin-top: 150px;
  }
  .mySec1 .head .head-left p {
    margin-top: 20px;
  }
  .mySec1 .head .head-right img {
    width: 300px;
  }
}

@media only screen and (min-width: 1600px) {
  .projs,
  .head {
    width: 1600px;
  }
  .mySec1 .head {
    width: 1400px;
  }
}
/*# sourceMappingURL=App.css.map */